<!--The content below is only a placeholder and can be replaced.-->


<div class="page">

    <!-- Start of Header -->
<!-- ======================= -->

<app-rant-header>Loading Header....</app-rant-header>

<!-- ======================= -->
    <!-- End of Header -->

    <!-- Start of Main Section -->
<!-- ======================= -->

    <section class="main layout--center">
        <div class="main__content layout--wrapped">

            <!-- Start of Loader -->                
            <!-- ======================= -->

            <!-- ======================= -->
            <!-- End of loader -->


            <!-- Start of Rant List Page -->
            <!-- ======================= -->

            <!-- ======================= -->
            <!-- End of Rant List Page -->


            <!-- Start of Rant Details Page-->
            <!-- ======================= -->


            <!-- ======================= -->
            <!-- End of Rant Details Page-->

        </div>
    </section>

<!-- ======================= -->
    <!-- End of Main Section -->

</div>

<!-- Start of login popup -->
<!-- ======================= -->



<!-- ======================= -->
<!-- End of login popup -->

<!-- Start of post popup -->
<!-- ======================= -->



<!-- ======================= -->
<!-- End of post popup -->

<!-- Start of comment popup -->
<!-- ======================= -->



<!-- ======================= -->
<!-- End of comment popup -->

<!-- Start of alert popup -->
<!-- ======================= -->



<!-- ======================= -->
<!-- End of alert popup -->

 

<router-outlet></router-outlet>
